# databricks-connect==16.0.0
# databricks-sql-connector==4.0.0
pandas==2.2.3
streamlit==1.41.1
psycopg[binary]==3.2.9
psycopg-pool==3.2.6
/Volumes/shared/shared_resources/wheel_location/.internal/lakehouse_demo_project-0.1.0-py2.py3-none-any.whl
